@mixin clearfix {
    &:before, &:after {
        content: '';
        display: inline;
    }
    &:after {
        clear: both;
    }
}

@mixin imageGrid($qty, $margin) {
    width: ((100% - (($qty - 1) * $margin )) / $qty);
    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
    }
    &:nth-child(#{$qty}n) {
        margin-bottom: 0;
        margin-right: 0;
    }
}

@mixin break($length) {
    @media (min-width: $length) {
        @content;
    }
}