$backgroundGreybar: #F5F6F6;
$backgroundFooter:  #30353D;
$text-color:        #FFF;
$darkgrey:          #666;
$orange:            #E65C43;
$headline-orange:   #F25C43;
$font-body:         'Roboto', sans-serif;